<% content_for :title do %>Rails Bootstrap<% end %>
<% content_for :description do %>Rails Bootstrap Example<% end %>
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://lorempixel.com/1170/800/city/9">
      <div class="carousel-caption text-center">
        <h4><%= Visitor::IMAGE_LABELS[0] %></h4>
      </div>
    </div>
    <div class="item">
      <img src="http://lorempixel.com/1170/800/city/7">
      <div class="carousel-caption text-center">
        <h4><%= Visitor::IMAGE_LABELS[1] %></h4>
      </div>
    </div>
    <div class="item">
      <img src="http://lorempixel.com/1170/800/city/6">
      <div class="carousel-caption text-center">
        <h4><%= Visitor::IMAGE_LABELS[2] %></h4>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="text-center">
  <h5>Select a Favorite</h5>
  <div id="modal-form" class="modal" style="display: <%= @visitor.errors.any? ? 'block' : 'none';%>">
    <%= simple_form_for @visitor do |f| %>
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h3>Select a Favorite</h3>
      </div>
      <div class="modal-body">
        <%= f.error_notification %>
        <%= f.input :favorite, :collection => Visitor::IMAGE_LABELS, label: false, as: :radio_buttons, :item_wrapper_class => 'inline' %>
        <%= f.input :comment, label: false, :placeholder => 'Add a comment...' %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Choose!", :class => "btn btn-primary" %>
        <a class="btn" data-dismiss="modal" href="#">Close</a>
      </div>
    <% end %>
  </div>
  <div id="call-to-action">
    <a class="btn btn-primary btn-large" data-toggle="modal" href="#modal-form">Choose!</a>
  </div>
</div>
